

/* Base styles for all devices */
.mat-mdc-card{
    width: 100%;
    margin-left: 0%;
    margin-top: 10%;
}

/* Apply margins only for screens wider than 600px */
@media (min-width: 600px) {
.mat-mdc-card{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}
}





.mat-mdc-form-field{
width: 100%;
}


.mdc-button{
    margin: 2px;
}

fieldset {
    width: 80%;
    margin: auto;

}